.header {
    position: fixed;
    color: #FFFFFF;
    padding: 10px 15px;
    max-width: 1920px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9B9B9B;
    z-index: 50;
    transition: 0.5s;
}

.header--sticky {
    background: #292D32;
    border-color: transparent;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo-title {
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}

.nav__list {
    display: flex;
}

.nav__list-item {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #E44F4F;
    }
}