
@media (max-width: 1350px) {

    .movie-list {

        .swiper-slide {
            width: 30%;
        }
    }
}

@media (max-width: 1450px) {
    
    .person {

        .swiper-slide {
            width: 25%;
        }
    }
}

@media (max-width: 960px) {

    .slider__item-content {
        max-width: 400px;
    }

    .slider__item-poster {
        max-width: 200px;
    }

    .movie-list {

        .swiper-slide {
            width: 45%;
        }
    }
}

@media (max-width: 880px) {
    
    .person {

        .swiper-slide {
            width: 35%;
        }
    }

    .detail__poster {

        img {
            width: 200px;
        }
    }
}

@media (max-width: 650px) {

    .slider__item-content {
        max-width: 300px;
    }

    .movie-list {

        .swiper-slide {
            width: 60%;
        }
    }

    .person {

        .swiper-slide {
            width: 50%;
        }
    }
}

@media (max-width: 550px) {

    .slider__item {
        flex-direction: column;
        align-items: center;
    }

    .slider__item-content {
        max-width: 500px;
        text-align: center;
        margin-bottom: 15px;
    }

    .slider__item-button {
        margin: 20px auto 0;
    }

    .slider__item-title {
        font-size: 30px;
    }

    .slider__item-desc {
        font-size: 16px;
    }

    .movie-list {

        .swiper-slide {
            width: 80%;
        }
    }

    .person {

        .swiper-slide {
            width: 75%;
        }
    }

    .detail-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .detail__poster {
        margin: 15px 0 0;
    }

    .detail__list-genres {
        justify-content: center;
    }
}

@media (max-width: 360px) {

    .movie-list {

        .swiper-slide {
            width: 90%;
        }
    }
}